# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
*.g.dart
*.freezed.dart
lib/l10n/app_localizations*.dart
.idea/
.vscode/
ios/Pods/
android/.gradle/
